# Printing hello world

In [1]:
print('Hello world!')

Hello world!

In [2]:
print('Tejashwini')

Tejashwini

## Datatypes

In [3]:
x=10
x
type(x)

int

In [4]:
type(x)

int

In [5]:
y=10.56
print(y)
type(y)

10.56

float

In [6]:
z='hello'
print(z)
type(z)

hello

str

In [7]:
z=True
type(z)

bool

## Data structures

##### LIST

In [8]:
l=[1,2,3,4.5,'hello']

In [9]:
l

[1, 2, 3, 4.5, 'hello']

In [10]:
type(l)

list

In [11]:
#list access
l[0]

1

In [12]:
#list update(mutable)
l[2]=10

In [13]:
l[2]

10

In [14]:
l

[1, 2, 10, 4.5, 'hello']

##### TUPLE is immutable

In [15]:
t=(1,2,3,4.5,'hello')

In [16]:
t

(1, 2, 3, 4.5, 'hello')

In [17]:
t[3]

4.5

In [18]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

##### SET

In [19]:
s={1,2,3,4,1,8,10,'hello','arranged',4}

In [20]:
#prints unique values and ordered
#cannot be accessed using index
s

{1, 10, 2, 3, 4, 8, 'arranged', 'hello'}

In [21]:
s[0]=100

TypeError: 'set' object does not support item assignment

In [22]:
#set is mutable
s.add(100)

In [23]:
s

{1, 10, 100, 2, 3, 4, 8, 'arranged', 'hello'}

##### Dictionary

--has key-value pair data structure
--key is unique
--values can be duplicated
--value can be retrieved using key
--key cannot be retrieved using value

In [28]:
d={1:'apple',2:35,3:"data",2:"hi"}

In [29]:
d
#has key:value pair data structure

{1: 'apple', 2: 'hi', 3: 'data'}

In [31]:
d[2]

'hi'

In [32]:
d[3]="business"

In [33]:
d

{1: 'apple', 2: 'hi', 3: 'business'}

In [34]:
#keys can be added
d[4]='hello'

In [35]:
d

{1: 'apple', 2: 'hi', 3: 'business', 4: 'hello'}